@model WhyRecycle
@{
    ViewData["Title"] = "WhyRecycle";
}
<style>

    body {
        background-image: url('https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
        background-repeat: repeat;
        background-size: auto;
        color: black;
    }
</style>

<body>
    <style>

        body {
            background-image: url('https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
            background-repeat: repeat;
            background-size: auto;
            color: white;
        }
    </style>

    <h1 style="color:black">Why Is It Important to Recycle?</h1>

    <div style="color:black">
        <img src="https://media.greenmatters.com/brand-img/sUx6OzmAg/2160x1131/jpg-1587135509142" alt="Recycling bins" width="800" height="600">
        <p>When a material is used to make something, it’s important that it breaks down organically, can be reused, or recycled into something else. Otherwise, that material only serves one purpose before it ends up in a landfill long-term where it will not break down.</p>
        <p>
            If waste is not recycled, it can negatively impact our environment in many ways. Waste can emit <strong>greenhouse gases</strong> that contribute to <strong>global warming</strong> and, therefore, <strong>climate change</strong>. Non-recycled waste can contribute to air pollution, water pollution, and put animal lives and human lives at risk. Alternatively, if we recycle, we can significantly reduce the amount of pollution our waste creates, according to Recycling-Guide.com.
        </p>
    </div>

    <div style="color:black">
        <img src="https://hbr.org/resources/images/article_assets/2016/10/oct16-07-590083785.jpg" alt="Recycling cans" width="800" height="600">

        <p>
            Recycling is also crucial because of how waste can impact animals (<strong>and consequently, humans because, you know, food chain</strong>). Waste can cause <strong>loss of natural habitats</strong> and contributes to negative impacts like climate change and global warming, which can also destroy animals’ natural habitats. When animals — and other biological organisms — lose their habitats, they can die off or starve.
        </p>
        <p>
            Recycling also means using materials that have already been used, rather than creating new raw materials. Since raw materials often come from our most important forests, like rainforests for example, recycling can cut back on the need for raw materials. Raw materials could also include natural resources like timber, water, and minerals. When we cut back on new materials, we can preserve natural habitats, forests, rainforests, and give the Earth a chance to grow and heal.
        </p>
        <p>
            <strong>Energy</strong>  is another reason why recycling is so necessary. When we use raw materials to make new things, it <strong>requires a lot of energy</strong> . And water, too. But it requires less energy to recycle old materials into something new, according to the Environmental Protection Agency (EPA).
        </p>
    </div>
    <div style="color:black">
        <h3>Does recycling benefits the economy? </h3>
        <p>
            The simple answer is yes, it does.  And here is how.
        </p>

        <ul>
            <li>Recycling actually helps to create jobs in both the recycling and manufacturing industries in the U.S.</li>
            <li>Recycling industry also stimulates the American economy, since it means relying on domestic sources of materials rather than imported ones.</li>
            <li>It helps to preserve U.S natural resources such as cellulose, coal, natural gas, salt, and crude oil.</li>
        </ul>

    </div>
    <div style="color:black">
        <h3>Plastic is the best and the worst thing that ever happened to humans.</h3>
        <p>
            Please don't take me wrong; plastic is incredible. Plastics enable sustainable, durable, long-lasting design and construction in homes, buildings, and infrastructure like bridges. In automotive design, plastics have contributed to many innovations in safety, performance, and fuel efficiency. Plastic packaging helps protect and preserve goods while reducing weight in transportation, which saves fuel and reduces greenhouse gas emissions. From computers and cell phones to televisions and microwaves, durable, lightweight, and affordable plastics have revolutionized the electronics we rely on every day.
        </p>
        <img src="https://ucarecdn.com/b5307a3d-e30d-4670-8ea9-0901f426b2fe/" alt="Throw away plastic" width="600" height="600">
        <p>
            But the problem with plastic is that most of it isn't biodegradable. It doesn't rot, like paper or food, so instead it can hang around in the environment for hundreds of years.

            Each year, 400 million tonnes of plastic is produced and 40% of that is single-use - plastic we'll only use once before it's binned.

            Examples of single-use plastic are carrier bags, drinks bottles and straws.
        </p>
        <p>
            Plastic should not be an issue for us. For that to happen, consumers and producers should be more responsible when it comes to plastic. Be responsible for your waste.  Try to omit purchasing items that are containing plastic that cannot be recycled. Try to bring your bags when shopping to reduce the use of plastic films.  Make sure to follow the guidance of recycling in your area. <strong>!Alert!</strong> State to state and county to county, those rules can be significantly different. And of course, don't litter. Remember, this is the only planet we got.
        </p>
    </div>
</body>
