@model MapView
@{
    ViewData["Title"] = "Map";
}
<style>

    body {
        background-image: url('https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
        background-repeat: repeat;
        background-size: auto;
        color: black;
    }
</style>

<h2>Here is a map of recycling centers in Alexandria City, Virginia</h2>

<ul>
    <li>Red logo represents a recycling location for film and plastic bags</li>
    <li>Green logo represents a recycling drop off location that accepts multiple types of recycling materials such as mixed paper, glass, cardboard, and plastic</li>
    <li>Purple logo represent a recycling drop off location that accepts glass bottles and containers of any color</li>
</ul>
<iframe src="https://www.google.com/maps/d/embed?mid=17PY-eYmzmw_h73PKrXEc-9-yanK30HIo&hl=en" width="940" height="780"></iframe>