@{
    ViewData["Title"] = "Home Page";
}

   
<body>
<div class="text-center">
   
    <div class="hero">
        <h1 style="text-shadow: 2px 2px 5px white; font-size: 70px;" class="intro">Welcome to Recycling 101</h1>
        <video class="video-bg" autoplay muted loop>
            <source src="~/video.mp4" type="video/mp4">
        </video>
    </div>
</div>
    </body>
