@model ZeroWaste
@{
    ViewData["Title"] = "ZeroWaste";
}
<style>

    body {
        background-image: url('https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
        background-repeat: repeat;
        background-size: auto;
        color: black;
    }
</style>

<body>
    <h1>Easy Steps Toward Zero Waste You Can Take Today</h1>
    <div>
        <h3>What Is Zero Waste Living?</h3>
        <p>
            Zero waste living <strong>isn’t reducing your personal trash to the contents of the mason jar</strong>. For the majority of people, this is unrealistic at best and downright debilitating and demoralizing for most of us.
        </p>
        <p>
            Instead, zero waste living is a set of guiding principles to be more mindful of what we consume, how we consume it, and how we dispose of it when we’re done with it.
        </p>
        <p>

        </p>
    </div>
    <div>
        <h3>
            The Principles Of Zero Waste Living Are Possible
        </h3>
        <img src="https://ecowarriorprincess.net/wp-content/uploads/2019/04/10-Money-Saving-Zero-Waste-Swaps-for-the-Budget-Conscious-this-Earth-Day.jpg" alt="Zero waste life hacks" width="500" height="600">

        <p>I’m not suggesting that you (or me, for that matter) should strive for perfect zero waste. Some eco-aficionados might suggest that, and it works for others. But for me, and probably for you, that’s just not in the cards.</p>
        <p>
            As I mentioned above, we aren’t all going to get rid of our trash cans anytime soon. But making a few small changes can go a long way.
        </p>
        <p>
            Many zero waste experts talk about a hierarchy of the five R’s: Refuse, Reduce, Reuse, Recycle and Rot. Simply trying to increase amount of stuff we can reuse can
        </p>
        <p>
            Merely trying to increase the amount of stuff we can reuse can significantly affect the growth rate of landfills. Recycling is essential; however, you have to recycle correctly. Composting food waste can help to improve the quality of the soil.
        </p>
    </div>
    <div>
        <h3>Steps Toward Zero Waste You Can Take Today</h3>
        <h4>Use Recycled, Plastic-Free Toilet Paper</h4>
        <h4>Put Junk Mail to Good Use</h4>
        <p>
            Something as simple as the back of an envelope can make really great scrap paper. You can use it for to-do lists, grocery lists, or even drawing paper for your kids. I have a small drawer in my kitchen where I keep scrap paper and such that makes it easy to store, simple to find, and out of the way.
        </p>
        <h4>Turn Old T-Shirts Into Rags</h4>
        <p>
            Pinterest has about a billion reuses for old t-shirts, some more complicated than others (and I’ve got another down below to add to the collection). But the easiest way to reuse old t-shirts is simply to cut off the hems and sleeves and use them as rags. This also can reduce the number of paper towels piling up in your trash can if you transition to rags from disposable paper towels.
        </p>
        <h4>Drop off Old Clothes at a Textile Recycling Box</h4>
        <p>
            Only a small percentage of donations made to thrift stores end up on the shelves for resale. Most items are not in good enough condition to be resold. If your clothing, specifically, is in great condition and someone else might really be willing to pay for it, by all means donate it.
        </p>
        <h4>
            Send Paperless Invites and Holiday Cards
        </h4>
        <p>
            Birthday and party invitations can also be sent via online invitation services (or even a simple email). Especially as it relates to the party, the guests will be more concerned about having fun and spending time together at the event than the nature of the invitation that got everyone together.
        </p>
        <h4>
            Use your Phone for Grocery Lists, Electronic Coupons and Calendar Reminders
        </h4>
        <p>
            While not true for everyone, I think this is just easier and the environmental benefit of less paper and waste is a bonus. I’m pretty much lost without my phone. I forget anything that doesn’t pop up on my calendar reminders. And if it’s not on my grocery list, there’s no way I’m remembering it. If you can find a system that works for you, ditch paper and bring all your reminders and lists together on your phone.
        </p>
        <h4>
            Reusable Bags and Containers
        </h4>
        <p>
            Whether it be bags for shopping, lunch box containers, or leftovers in the fridge, consider reusable alternatives. There are tons of options on the market, so pick what suits your needs best.
        </p>
        <h4>Use Your Local Library</h4>
        <p>
            Collaborative consumption in any sense is a great way to reduce waste. We buy fewer things and throw away fewer things. When we’ve tired of something, it finds a new home with someone else.
        </p>

    </div>

</body>