@{ 
    ViewBag.Title = "Index";
}
<p id="reply"> </p>
<h2>Weather</h2>
<p id="name"></p>
<p id="temp"></p>
<p id="humidity"></p>
<button>Get Weather</button>

<script>
    $(document).ready(function)(){
        $("button").click(function ()){
            $.get("http://api.openweathermap.org/data/2.5/weather?q=Alexandria&appid=f5bbc84839fecaad065f7feae5f76b3a", function (response) {
                //response
                $("#name").text(response.name);
                $("#temp").text(response.main.temp);
                $("#humidity").text(response.main.humidity);
                console.log(response);

            });
        });
    });

</script>